@font-face {
  font-family: 'AdiNeuePro-Black';
  src: url('https://www.adidas.com/glass/assets/fonts/adidas/adineuePRO-Black.woff2') format('woff2');
}

@font-face {
  font-family: "AdihausDIN";
  src: url("https://www.adidas.com/glass/assets/fonts/adidas/AdihausDIN-Regular.woff2") format('woff2');
}

* { box-sizing: border-box }

.header-desktop {
  font-family: AdihausDIN, Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  margin: 0 auto;
}