.header-desktop {
  font-family: Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
}

.glass-header-top-desktop {
  font-weight: 400;
  font-size: 11px;
  display: block;
  height: 32px;
  /* background: linear-gradient(90deg,#000 30%,transparent 50%),linear-gradient(180deg,#000 0,#363738); */
}

a {
  padding: 0 10px;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #ebedee;
  list-style-type: none;
  display: inline;
}


.menu-spacer {
  display: inline;
  height: 12px;
  width: 1px;
  position: relative;
  top: -1px;
  background-color: #98989a;
}