.searchWrapperOuter {
  color: white;
  text-align: right;
  display: inline-block;
}

.searchWrapperInner {
  color: white;
  display: inline-block;
}

.searchInputWrapper input {
  padding: 5px;
  width: 85px;
  border: 0;
}

.searchInputWrapper input:focus {
  width: 160px;
  outline-offset: 0;
  outline: none;
}

.searchMenuSubMenu {
  display: flex;
  align-content: center;
  position: absolute;
  background: white;
  width: 627px;
  height: 460px;
  right: 0px;
  padding: 12px;
  box-shadow: 5px 5px 10px -10px black;
  top: 53px;
}

.searchMenuSubMenuGrid {
  display: grid;
  grid-template-columns: 290px 290px;
  grid-column-gap: 16px;
  grid-row-gap: 5px;
  grid-template-rows: 1fr 14fr;
  color: black;
  top: 35px;
  text-align: left;
}

.searchMenuSubMenu ul {
  padding: 0px;
}

.searchMenuSubMenuColumnHeader {
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-family: AdiNeuePro-Black;
}

.searchMenuSubMenu li {
  text-transform: uppercase;
  height: 25px;
  letter-spacing: .5px;
  color: black;
  display: block;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  margin: 0 0 6px;
  padding: 0;
}

/* here are the products lis! */
.searchProductsColumn li {
  font-family: 'AdihausDIN',Helvetica,Arial,sans-serif;
  color: black;
  width: 100%;
  display: block;
  height: 90px;
  position: relative;
  margin: 0 0 8px;
}

.searchProductsColumn li .productInformation {
  padding: 0 0 0 100px;
  font-size: 12px;
  letter-spacing: .5px;
}

.searchProductsColumn li img {
  height: 90px;
  left: 0;
  position: absolute;
  top: 0;
  width: 90px;
}

.productSubtitle {
  text-transform: none;
  color: #98989a;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 4px 0px 2px 0px;
}

.productName {
  text-transform: uppercase;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  color: black;
  padding: 4px 0px;
}

.productName {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  color: black;
  padding: 4px 0px;
}

.priceContainer {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  padding: 4px 0px;
}

.ratingsSummary {
  padding: 4px 0px;
}

.salePrice {
  color: red;
}

.glPriceCrossed {
  text-decoration: line-through;
  color: #98989a;
}

.glStarRating_star {
  height: 10px;
  color: black;
}

.numReviews {
  color: #98989a;
  font-size: 10px;
}

.searchGlass {
  height: 29px;
  color: black;
  padding: 2px 4px;
}

.clearSearchIcon {
  height: 29px;
  width: 29px;
  color: black;
  padding: 2px 4px;
}

.searchInputWrapper {
  background-color: white;
  display: flex;
  align-items: center; 
  position: relative;
  top: 10px;
}

.emptyBagIcon {
  top: 13px;
  color: white;
  height: 22px;
  width: 22px;
  position: relative;
}

.bagIconWrapper {
  width: 45px;
  position: relative;
  top: -5px;
  text-align: center;
  transition: background .1s cubic-bezier(.3,0,.45,1);
}

.bagIconWrapper:hover {
  background-color: white;
}

.bagIconWrapper:hover .emptyBagIcon {
  color: black;
}

.searchMenu li {
  margin-left: 2px;
  margin-right: 1px;
}

.bagIconWrapper:hover .bagMenu {
  display: block;
  transition: background .1s cubic-bezier(.3,0,.45,1);
}

.bagMenu {
  font-family: 'AdiNeuePro-Black';
  font-weight: 600;
  font-size: 20px;
  padding: 17px 0;
  text-align: center;
  text-transform: uppercase;
  width: 310px;
  z-index: 26;
  background-color: #fff;
  box-shadow: 0 12px 24px rgba(0,0,0,.1);
  color: #000;
  right: 0;
  top: 100%;
  position: absolute;
  display: none;
}

/* TODO some of the attributes of these styles may be redundant */

.seeAllQuery:before {
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  bottom: 0px;
  width: calc(100% - 4px);
  border-bottom-width: 1.01565px;
  border-bottom-style: solid;
  border-color: #000;
  transition: border-color .2s cubic-bezier(.3,0,.45,1);
}

.seeAllQuery {
  left: 15px;
  bottom: 27px;
  position: absolute;
  padding: 2px 5px 2px 2px;
  min-height: 0;
  color: #000;
  background-color: transparent;
  max-width: 100%;
  white-space: unset;
  text-align: left;
  line-height: 13px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-family: 'AdihausDIN',Helvetica,Arial,sans-serif;
  font-weight: 1000;
}


