.search-wrapper-outer {
  color: white;
  text-align: right;
  display: inline-block;
}

.search-wrapper-inner {
  color: white;
  display: inline-block;
}

#search-box {
  padding: 5px;
}

.search-menu-sub-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  background: white;
  width: 550px;
  padding: 2em;
  color: black;
  box-shadow: 0px 5px 10px -10px black;
  right: 0px;
}

/*
Mega Menu Sub Menu Column
.mega-menu-sub-menu ul {
  padding: 0;
}

*/