/* Containers */
.glass-header-top-desktop {
  padding: 0 10px;
  vertical-align: center;
  font-weight: 400;
  font-size: 11px;
  display: relative;
  height: 32px;
  background: linear-gradient(90deg,#000 30%,transparent 50%),linear-gradient(180deg,#000 0,#363738);
  text-align: right;
  margin: 0 auto;
}

.inner-for-vertical-align {
  height: 100%;
  width: 100%;
  max-width: 1220px;
  margin: auto;
}

.inner-for-vertical-align a:last-of-type {
  padding-right: 7px;
}


/* Element styling */
a {
  padding: 0 10px;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #ebedee;
  list-style-type: none;
  height: 100%;
  display: inline-block;
}

em a {
  font-weight: bold;
  font-style: normal;
}

/* Spacer elements */
.top-header-vertical-spacer {
  display: inline-block;
  height: 12px;
  width: 1px;
  position: relative;
  top: 2px;
  background-color: #98989a;
}

.top-header-icon {
  top: 5px;
  position:relative;
  height: 20px;
  color: #ebedee;
}